<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Posts</title>
</head>
<body>
   <form action="/postcre" method="post">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" placeholder="Enter your name" required autocomplete="off">
    </div>
    <div class="form-group">
      <label for="comment">Comment</label>
      <input type="textarea" id="comment" name="comment" placeholder="Enter your comment" required autocomplete="off">
    </div>
    <button type="submit" class="submit-btn" style = "color : white"><a href="/home">Submit</a></button>
    </form>
</body>
</html>