<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Posts</title>
</head>
<body>
   <form action="/postcre" method="post">
    <h2>Comment is created by <%= name %></h2>
    <div class="form-group">
      <label for="comment">Comment</label>
      <textarea cols="35" rows="10" id="comment" name="comment" placeholder="Enter your comment" required autocomplete="off" style="display: flex ; justify-content: center;" ></textarea>
    </div>
    <button type="submit" class="submit-btn" ><a href="/home" style = "color : white">Submit</a></button>
    </form>
</body>
</html>